{% extends "public/base.html" %}
{% load static %}
{% block title %}
  index page
{% endblock title %}

 {% block single-post %}
 <!-- Top Post Start -->
            <section class="top-post">
                <div class="container">
                  
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="post-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="post-img">
                                            <img src="{%static '' %}assets/img/t-post/t-post-1.jpg" alt="p-post">
                                            <div class="title-tag">
                                                <a href="#">Beauty</a>
                                            </div>
                                        </div>
                                        <div class="post-title">
                                            <div class="title">
                                                <a href="#">Beauty is our natural song but you can make it better...</a>
                                            </div>
                                            <p>15-Augu-2020 | 5mins</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="post-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="post-img">
                                            <img src="{%static '' %}assets/img/t-post/t-post-2.jpg" alt="p-post">
                                            <div class="title-tag">
                                                <a href="#">Spa</a>
                                            </div>
                                        </div>
                                        <div class="post-title">
                                            <div class="title">
                                                <a href="#">Among flowers, we love roses the most, and it is a symbol of our beauty</a>
                                            </div>
                                            <p>15-Augu-2020 | 5mins</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="post-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="post-img">
                                            <img src="{%static '' %}assets/img/t-post/t-post-3.jpg" alt="p-post">
                                            <div class="title-tag">
                                                <a href="#">Lifestyle</a>
                                            </div>
                                        </div>
                                        <div class="post-title">
                                            <div class="title">
                                                <a href="#">Why girls like outfits so much, why beauty is to be enhanced?</a>
                                            </div>
                                            <p>15-Augu-2020 | 5mins</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="post-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="post-img">
                                            <img src="{%static '' %}assets/img/t-post/t-post-4.jpg" alt="p-post">
                                            <div class="title-tag">
                                                <a href="#">Love</a>
                                            </div>
                                        </div>
                                        <div class="post-title">
                                            <div class="title">
                                                <a href="#">Love gives us the gift of some beautiful days and moments</a>
                                            </div>
                                            <p>15-Augu-2020 | 5mins</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="post-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="post-img">
                                            <img src="{%static '' %}assets/img/t-post/t-post-5.jpg" alt="p-post">
                                            <div class="title-tag">
                                                <a href="#">Lifestyle</a>
                                            </div>
                                        </div>
                                        <div class="post-title">
                                            <div class="title">
                                                <a href="#">The essence of living life is to enjoy some beautiful moments</a>
                                            </div>
                                            <p>15-Augu-2020 | 5mins</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="post-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="post-img">
                                            <img src="{%static '' %}assets/img/t-post/t-post-6.jpg" alt="p-post">
                                            <div class="title-tag">
                                                <a href="#">Lifestyle</a>
                                            </div>
                                        </div>
                                        <div class="post-title">
                                            <div class="title">
                                                <a href="#">Gifts are a beautiful rule that binds people together</a>
                                            </div>
                                            <p>15-Augu-2020 | 5mins</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Top Post End -->

    
{% endblock single-post %}